html, body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  background-color: white;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 2px;
  background-color: #333;
  margin: 9px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


ul {
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: right;
}

ul li {
  padding: 10px;
}
